$rng-blue: #2A4D6E;
$rng-blue-dark: #041E37;
$rng-pink: #E297AF;
$rng-gold: #FFFBAA;

$primary-background: #F3F3F3;
$secondary-background: #575999;
$tertiary-background: #7375B2;
$primary-text: #25265F;
$secondary-text: #F3F3F3;
$tertiary-text: #FFFFFF;
